{% extends "base.html" %}
{% block title %}Buscador - Dani Baco{% endblock %}
{% block content %}

<h1 style="text-align: center;">Buscador</h1>

<div class="container text-center" style="margin-bottom: 40px;">
    <form action="{{url_for('busqueda')}}" method="POST" class="form-inline justify-content-center">
        <p>Introduce un modelo:</p>
        <input type="text" name="buscador" placeholder="Audi A4" class="form-control" value="{{nombre}}">
        <p style="margin: 20px;">Selecciona un clima:</p>
        <select name="clima" class="form-control" style="margin-right: 20px;">
            <option value="">Cualquiera</option>
            <option value="Soleado">Soleado</option>
            <option value="Nublado">Nublado</option>
            <option value="Lluvioso">Lluvioso</option>
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>

{% if listado %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Consumo medio</th>
                <th>Más info</th>
            </tr>
        </thead>
        <tbody>
            {% for lista in listado %}
            <tr>
                <td>{{lista.modelo}}</td>
                <td>{{lista.consumo_combinado}}</td>
                <td><a href="{{url_for('detalle', id=lista.id)}}">Detalle</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <a href="{{url_for('busqueda')}}">Volver</p>
</div>

{% else %}
    {% if nombre != '' %}
        <p style="text-align: center; margin-top: 20px;">No se encontraron resultados.</p>
    {% endif %}
{% endif %}

{% endblock %}
